evolutionary_robotics_framework/*
logs/*
.vscode
evolutionary_robotics_framework
__pycache__
connet_napier_hpc.sh
copy_files_to_napier_hpc.sh
CoppeliaSim*
V-REP_PRO_EDU_V3_6_2_Ubuntu18_04
CoppeliaSim_Edu_V4_3_0_Ubuntu18_04
*.pkl
remove_exp_with_less_lines_than.sh
data/local/**
videos/**
other_RL/meta_world_and_garage/data/local/experiment/**
venv

other_RL/gym_rem2D/__pycache__/
other_RL/gym_rem2D/*.py[cod]
other_RL/gym_rem2D/*$py.class
other_RL/gym_rem2D/*.so
other_RL/gym_rem2D/.Python
other_RL/gym_rem2D/build/
other_RL/gym_rem2D/develop-eggs/
other_RL/gym_rem2D/dist/
other_RL/gym_rem2D/downloads/
other_RL/gym_rem2D/eggs/
other_RL/gym_rem2D/.eggs/
other_RL/gym_rem2D/lib/
other_RL/gym_rem2D/lib64/
other_RL/gym_rem2D/parts/
other_RL/gym_rem2D/sdist/
other_RL/gym_rem2D/var/
other_RL/gym_rem2D/wheels/
other_RL/gym_rem2D/pip-wheel-metadata/
other_RL/gym_rem2D/share/python-wheels/
other_RL/gym_rem2D/*.egg-info/
other_RL/gym_rem2D/.installed.cfg
other_RL/gym_rem2D/*.egg
other_RL/gym_rem2D/MANIFEST
other_RL/gym_rem2D/*.manifest
other_RL/gym_rem2D/*.spec
other_RL/gym_rem2D/pip-log.txt
other_RL/gym_rem2D/pip-delete-this-directory.txt
other_RL/gym_rem2D/htmlcov/
other_RL/gym_rem2D/.tox/
other_RL/gym_rem2D/.nox/
other_RL/gym_rem2D/.coverage
other_RL/gym_rem2D/.coverage.*
other_RL/gym_rem2D/.cache
other_RL/gym_rem2D/nosetests.xml
other_RL/gym_rem2D/coverage.xml
other_RL/gym_rem2D/*.cover
other_RL/gym_rem2D/*.py,cover
other_RL/gym_rem2D/.hypothesis/
other_RL/gym_rem2D/.pytest_cache/
other_RL/gym_rem2D/*.mo
other_RL/gym_rem2D/*.pot
other_RL/gym_rem2D/*.log
other_RL/gym_rem2D/local_settings.py
other_RL/gym_rem2D/db.sqlite3
other_RL/gym_rem2D/db.sqlite3-journal
other_RL/gym_rem2D/instance/
other_RL/gym_rem2D/.webassets-cache
other_RL/gym_rem2D/.scrapy
other_RL/gym_rem2D/docs/_build/
other_RL/gym_rem2D/target/
other_RL/gym_rem2D/.ipynb_checkpoints
other_RL/gym_rem2D/profile_default/
other_RL/gym_rem2D/ipython_config.py
other_RL/gym_rem2D/.python-version
other_RL/gym_rem2D/__pypackages__/
other_RL/gym_rem2D/celerybeat-schedule
other_RL/gym_rem2D/celerybeat.pid
other_RL/gym_rem2D/*.sage.py
other_RL/gym_rem2D/.env
other_RL/gym_rem2D/.venv
other_RL/gym_rem2D/env/
other_RL/gym_rem2D/venv/
other_RL/gym_rem2D/ENV/
other_RL/gym_rem2D/env.bak/
other_RL/gym_rem2D/venv.bak/
other_RL/gym_rem2D/.spyderproject
other_RL/gym_rem2D/.spyproject
other_RL/gym_rem2D/.ropeproject
other_RL/gym_rem2D/site
other_RL/gym_rem2D/.mypy_cache/
other_RL/gym_rem2D/.dmypy.json
other_RL/gym_rem2D/dmypy.json
other_RL/gym_rem2D/.pyre/
other_RL/gym_rem2D/gym_rem2D2020.pyproj
other_RL/gym_rem2D/gym_rem2D2020.sln
other_RL/gym_rem2D/.vs/
other_RL/gym_rem2D/ModularER_2D/results/

other_RL/super-mario-neat/Bak/
other_RL/super-mario-neat/.idea/
other_RL/super-mario-neat/__pycache__/
other_RL/super-mario-neat/src/__pycache__
other_RL/super-mario-neat/.DS_Store
other_RL/super-mario-neat/src/.DS_Store
other_RL/super-mario-neat/*.pkl
other_RL/super-mario-neat/*.svg
other_RL/super-mario-neat/*.gv
other_RL/super-mario-neat/src/checkpoints/gen_*
other_RL/super-mario-neat/src/checkpoints/neat-checkpoint-*



tmp.txt


*.pdf
results/data/tgrace_different_values/*.txt